
<div class="jumbotron">
    Tipos de Usuarios:
    <select>
        <option value="1">Personal Grupo 1 </option>
        <option value="2">Personal Grupo 2</option>
        <option value="3">+adicionar otro grupo</option>
    </select>
</div>


